.containerImageBack {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.containerDetalheModal {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #000000c2;
}
.containerImageModal {
  display: flex;
}

.containerTextoModal {
  display: flex;
  flex-direction: column;
  margin: 100px 30px;
  max-width: 1500px;
  min-width: 300px;
}

/* ///////////////////////////// */

.tituloModal {
  display: inline-block;
  font-weight: 900;
  font-size: 35px;
  margin: 0 0 10px 0;
}
.tituloModalAno {
  display: inline-block;
  color: #999;
  font-weight: 400;
  font-size: 30px;
  margin: 0 0 10px 15px;
}
.classificacaoIndicativa {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
}
.dataLancamento {
  color: white;
  padding: 5px 0 5px 15px;
  font-size: 16px;
}
.tempoDuracao {
  padding: 5px 0 5px 25px;
  font-size: 16px;
}
.generos {
  display: inline-block;
  color: white;
  font-size: 16px;
  padding: 15px 0 0 0;
}

.tagline {
  display: inline-block;
  font-style: italic;
  color: #999;
  padding: 30px 0 30px 0px;
  font-size: 16px;
}
.sinopse {
  display: block;
  padding: 0 0 20px 0;
  font-weight: 900;
}

.sinopseText {
  display: block;
  text-align: justify;
  padding: 0 0 20px 0;
}

.comImageModal,
.semImagemModal {
  width: 350px;
  height: 500px;
margin: 100px  20px;
  border-radius: 10px;
}
.semImagemModal {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 30px;
  align-items: center;
}
