.icon_menu {
  min-width: 50px;
  min-height: 50px;
  color: rgb(179, 255, 0);
  background-color: rgba(0, 255, 255, 0);
}
.bt_menu{
  background-color: rgba(250, 235, 215, 0);
  border: none;
}
.menu{
  display: flex;
  flex-direction: column;
  align-self:flex-start;
  padding: 0;
  margin: 0;
  z-index:1000;
    
   
}
.bt_genero_menu{
  border: none;
  border-bottom: solid 1px black;
  background-color: rgba(0, 0, 0, 0.11);
   color: rgb(255, 255, 255);
  padding: 5px 25px;
  font-weight: 600;

}
.bt_genero_menu:hover{
  
  background-color: rgba(6, 253, 6, 0.233);
}