 
.contentMenu{
  /* cc */
}
.icon_menu {
   
  min-width: 50px;
  min-height: 50px;
  color: rgb(179, 255, 0);
  background-color: rgba(0, 255, 255, 0);
}
.bt_menu{
  display: flex;
  
  background-color: rgba(250, 235, 215, 0);
  border: none;
}
.menu{
  
  display: flex;
  align-content:space-between;
  padding: 0;
  flex-flow: column;
  left: 0;float: left;
  position: relative;
  z-index: 100;
   
    
   
}
.bt_genero_menu{
  border: none;
  border-bottom: solid 2px rgb(0, 0, 0);
  background-color: rgba(44, 44, 44, 0.555);
   color: rgb(255, 255, 255);
  padding: 5px 25px;
  font-weight: 600;

}
.bt_genero_menu:hover{
  
  background-color: rgba(6, 253, 6, 0.384);
  color: black;
}