.containerElenco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contentElenco {
  background-color: white;
  width: 100px;
  height: 182px;
  margin: 5px;
  border-radius: 6px 6px 5px 5px;
  box-shadow: 0 0 5px black ;

  color: black;
}
.personagemElenco {
  display: block;
}

.nomeElenco {
  overflow: hidden;
  width: 100px;
  padding: 0 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nomeElenco p {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentImageElenco {
  display: block;
}

.contentSemImageElenco {
  display: block;
}

.semImageElenco {
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.103);
}
.comImageElenco {
  border-radius: 5px 5px 0 0;
  width: 100px;
  height: 148px;
  object-fit: cover;
  object-position: 0 5%; 
  background-color: blueviolet;
}
