.containerModal {
  display: flex;
  justify-content: center;
  background-color: rgb(20, 45, 112);
  width: 100%; 
  position: absolute;
  top: 70px;
  left: 0;
}
.contentModal {
  display: block;
  /* margin-top: 30px;
  max-width: 1000px;
  width: 60%;
  min-width: 600px; */
   
 
}
p{
  color: white;
}
 