.containerMidia {
   
 display: block;

}

.contentMidiaBotoes {
  display: flex;
  justify-content: center;
}
.contentMidiaBotoes button{
  font-size: 16px;
    color: white;
 
  margin: 50px;
  background-color: rgba(255, 0, 0, 0.103);
  cursor: pointer;
  width: 200px;
}
