.top {
  display: flex;
  background-color: black;
  height: 70px;

  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.top p {
  margin: 0;

  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 900;
}
input {
  height: 30px;
  padding: 5px 0 2px 15px;
  font-size: 20px;
  border-radius: 20px;
}
