.containerPaginacao {
  display: flex;
  justify-content: center;
  margin: 20px;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}

.page-active{ 
  background-color: rgb(1, 71, 1);
  color: white;
}
button {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(109, 109, 109);
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  text-align: center;
  margin: 0 5px;
  border: solid black 1px;
}
button:hover {
  background-color: rgb(1, 71, 1);
  
  cursor: pointer;
}
