@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600&display=swap");
 
.containerTitulo p {
  display: inline-block;
  padding: 0 8px 0 10px;
  margin: 30px 0 0 20px; 
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Baloo Bhaijaan 2", cursive;
  border-left: solid 2px wheat;
  border-bottom: solid 2px wheat;
  border-radius: 0 0 0 20px;
}

.containerDescobrir {
  display: flex;
}

.containerImage p{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 0 10px 10px;
  color: white;
  white-space: nowrap; 
  width: 180px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.containerImage {
  
  display: block;
   
  margin: 10px;
  border: solid rgba(255, 255, 255, 0.171) 1px;
  transition: transform 0.3s;
  
}
.containerImage img {
  display: flex;
  width: 190px;
  height: 300px;
  margin: 8px;
  cursor: pointer;
  
}
.containerImage:hover,
.containerImage:focus {
  filter: brightness(1.5);
  filter: contrast(1.5); 
  transform: scale(103%);
}
.container{
  display: flex;
  justify-content: center;
   
}
.content {
  display: flex; 
  justify-content:center;
  max-width: 1180px;
  flex-wrap:wrap;
  
} 
