 
.ulPaginas{
  display: flex;
  justify-content: center;
}
ul, .liPaginas  {
  list-style: none;
  padding: 0;
}
 
.btPaginasAtivo{ 
    color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:darkgreen;
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  text-align: center;
  margin: 0 5px;
  border: solid black 1px;
  
}
.btPaginas {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(109, 109, 109);
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  text-align: center;
  margin: 0 5px;
  border: solid black 1px;
}
.btPaginas:hover {
  
  background-color: darkgreen;
  cursor: pointer;
}
